<h1>Listing all restaurants</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <p><%= restaurant.name %></p>
      <small><%= restaurant.category %></small>
    </li>
  <% end %>
</ul>
